.card {
  position: relative;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 7px rgb(56, 56, 56);
  border-radius: 5px;
}
.card h4 {
  margin: 15px 0;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0 15px;
  background-color: #3f36e6;
  /* background-color:  #e85d0ccc; */
  /* background-color: #706ae4; */
  color: white;
  gap: 0 10px;
}

.button:active,
.button,
.button:focus,
.button:visited {
  border-style: none;
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  line-height: 15px;
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 2px;
  outline: 0;
  outline-offset: -2px;
  background-color: #ffffff;
}
.button:focus {
  outline: 1px dotted;
}
.button:hover {
  cursor: pointer;
  background-color: #3f2bdb;
  color: white;
  border: 1px rgb(255, 255, 255) solid;
}
